html, body{
   background-color: rgb(198, 246, 252);
   margin: 0;
   padding: 0;
}
.link-button {
   color: azure;
   background-color: wheat;
   padding: 10px;
   text-decoration: none;
   border-radius: 5px;
}

.OPEN {
   max-width: 700px;
   margin: auto;
   text-align: center;
}
.imager{
   width: 100%;
   border: 20px solid black; 
   padding: 5px;             
   border-radius: 10px;      
   display: inline-block;
}